<h4 class="d-flex justify-content-center">Cập Nhập Khách Hàng</h4>\
<div class="d-flex justify-content-center">
  <table >
    <tr>
      <td>Tên Khách Hàng:</td>
      <td>
        <input type="text" id="updateName"/>

      </td>
    </tr>
    <tr>
      <td>Ngày sinh:</td>
      <td>
        <input type="date" id="updateBirthOfDay"/>
      </td>
    </tr>
    <tr>
      <td>Giới tính:</td>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>Thẻ căn cước:</td>
      <td>
        <input type="text" id="updateIdCard"/>

      </td>
    </tr>
    <tr>
      <td>Số điện thoại:</td>
      <td>
        <input type="text" id="updatePhoneNumber"/>

      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input type="text" id="updateEmail"/>

      </td>
    </tr>
    <tr>
      <td>Địa chỉ:</td>
      <td>
        <input type="text" id="updateAddress"/>
      </td>
    </tr>
    <tr>
      <td>Loại khách hàng:</td>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng
  </button>
  <button type="submit" class="btn btn-outline-info">Sửa thông tin khách hàng</button>
</div>
