<h1 style="text-align: center">DANH SÁCH KHÁCH HÀNG</h1>
<table class="table table-bordered">
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Ngày sinh</th>
    <th>Giới tính</th>
    <th>Thẻ căn cước</th>
    <th>Số điện thoại</th>
    <th>Email</th>
    <th>Địa chỉ</th>
    <th>Loại khách hàng</th>
    <th>Sửa thông tin</th>
    <th>Xóa khách hàng</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Nguyen Van A</td>
    <td>03-10-2000</td>
    <td>Nam</td>
    <td>123123123</td>
    <td>0935319915</td>
    <td>tai@gmail.com</td>
    <td>da nang</td>
    <td>Diamond</td>
    <td>
      <button type="button" class="btn btn-outline-secondary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalUpdate"
              data-bs-whatever="@mdo">Sửa
      </button>
    </td>
    <td>
      <button
        type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
        data-bs-target="#exampleModalDelete"
        data-bs-whatever="@mdo">Xóa
      </button>
    </td>
  </tr>
</table>
<div>
  <button class="btn btn-outline-info">Trước</button>
  <span>1/5</span>
  <button class="btn btn-outline-info">Sau</button>
</div>
