<h1 style="text-align: center">DANH SÁCH HỢP ĐỒNG</h1>
<table class="table table-bordered">
  <tr>
    <th>STT</th>
    <th>Ngày bắt đầu</th>
    <th>Ngày kết thức</th>
    <th>Tiền cọc</th>
    <th>Nhân viên</th>
    <th>Khách hàng</th>
    <th>Cơ sở</th>
    <th>Tổng tiền</th>
    <th>Các dịch vụ đi kèm</th>
    <th>Sửa thông tin</th>
    <th>Xóa cơ sở</th>
  </tr>
  <tr>
    <td>1</td>
    <td>01-02-2023</td>
    <td>02-02-2023</td>
    <td>500000</td>
    <td>Linh</td>
    <td>Tai</td>
    <td>Villa</td>
    <td>500000</td>
    <td>
      <button
        type="button" class="btn btn-outline-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModalView"
        data-bs-whatever="@mdo">Danh sách các dịch vụ đi kèm
      </button>
      <button
        type="button" class="btn btn-outline-success" data-bs-toggle="modal"
        data-bs-target="#exampleModalAdd1"
        data-bs-whatever="@mdo">+
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-outline-secondary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalUpdate"
              data-bs-whatever="@mdo">Sửa
      </button>
    </td>
    <td>
      <button
        type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
        data-bs-target="#exampleModalDelete"
        data-bs-whatever="@mdo">Xóa
      </button>
    </td>
  </tr>
</table>
<div>
  <button class="btn btn-outline-info">Trước</button>
  <span>1/5</span>
  <button class="btn btn-outline-info">Sau</button>
</div>
