<h4 class="d-flex justify-content-center">Thêm Khách Hàng</h4>
<div class="d-flex justify-content-center">
  <form [formGroup]="rfCustomer" (ngSubmit)="addCustomer()">
    <table>
      <tr>
        <td>
          <label>Tên khách hàng</label>
        </td>
        <td>
          <input formControlName="name"  class="form-control" type="text">
          <p *ngIf="rfCustomer.controls.name.touched && rfCustomer.controls.name?.errors?.required" class="text-danger">
            Tên không được để trống</p>
          <p *ngIf="rfCustomer.controls.name.touched && rfCustomer.controls.name?.errors?.pattern" class="text-danger">
            Tên chưa đúng định dạng</p>
        </td>
      </tr>
      <tr>
        <td>Ngày sinh:</td>
        <td>
          <input type="date"/>
        </td>
      </tr>
      <tr>
        <td>Giới tính:</td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>Thẻ căn cước:</td>
        <td>
          <input type="text" formControlName="idCard">
          <p *ngIf="rfCustomer.controls.idCard.touched && rfCustomer.controls.idCard?.errors?.pattern"
             class="text-danger">Thẻ căn cước chưa đúng định dạng</p>
          <p *ngIf="rfCustomer.controls.idCard.touched && rfCustomer.controls.idCard?.errors?.required"
             class="text-danger">Thẻ căn cước không được để trống</p>
        </td>
      </tr>
      <tr>
        <td>Số điện thoại:</td>
        <td>
          <input type="text" formControlName="phoneNumber">
          <p *ngIf="rfCustomer.controls.phoneNumber.touched && rfCustomer.controls.phoneNumber?.errors?.pattern"
             class="text-danger">Số diện thoại chưa đúng định dạng</p>
          <p *ngIf="rfCustomer.controls.phoneNumber.touched && rfCustomer.controls.phoneNumber?.errors?.required"
             class="text-danger">Số diện thoại không được để trống</p>
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <input type="text" formControlName="email">
          <p *ngIf="rfCustomer.controls.email.touched && rfCustomer.controls.email?.errors?.pattern"
             class="text-danger">Email chưa đúng định dạng</p>
          <p *ngIf="rfCustomer.controls.email.touched && rfCustomer.controls.email?.errors?.required"
             class="text-danger">Email không được để trống</p>
        </td>
      </tr>
      <tr>
        <td>Địa chỉ:</td>
        <td>
          <input type="text"/>
        </td>
      </tr>
      <tr>
        <td>Loại khách hàng:</td>
        <td>
          <input type="text">
        </td>
      </tr>
    </table>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
      <button type="submit" class="btn btn-outline-info" [disabled]="rfCustomer.invalid">Thêm Khách hàng</button>
    </div>
  </form>
</div>

