<h4 class="d-flex justify-content-center">Thêm Khách Hàng</h4>
<table class="d-flex justify-content-center">
  <tr>
    <td>Tên Khách Hàng:</td>
    <td>
      <input type="text"/>

    </td>
  </tr>
  <tr>
    <td>Ngày sinh:</td>
    <td>
      <input type="date"/>
    </td>
  </tr>
  <tr>
    <td>Giới tính:</td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>Thẻ căn cước:</td>
    <td>
      <input type="text"/>

    </td>
  </tr>
  <tr>
    <td>Số điện thoại:</td>
    <td>
      <input type="text"/>

    </td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
      <input type="text"/>

    </td>
  </tr>
  <tr>
    <td>Địa chỉ:</td>
    <td>
      <input type="text"/>
    </td>
  </tr>
  <tr>
    <td>Loại khách hàng:</td>
    <td>
      <input type="text">
    </td>
  </tr>
</table>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng
  </button>
  <button type="submit" class="btn btn-outline-info">Thêm Khách hàng</button>
</div>
