<div class="d-flex justify-content-center">
  <input hidden type="text" id="facilityTypeId">
  <button type="button" class="btn btn-outline-success">Villa</button>
  <button type="button" class="btn btn-outline-success">House</button>
  <button type="button" class="btn btn-outline-success">Room</button>
</div>
<h4 class="d-flex justify-content-center">Thêm Cơ Sở</h4>
<div class="d-flex justify-content-center">


  <table>
    <tr>
      <td>Tên cơ sở</td>
      <td>
        <input type="text"/>

      </td>
    </tr>
    <tr>
      <td> Diện tích</td>
      <td>
        <input type="number"/>

      </td>
    </tr>
    <tr>
      <td> Giá thuê</td>
      <td>
        <input type="number"/>

      </td>
    </tr>
    <tr>
      <td>Số người tối đa</td>
      <td>
        <input type="number">

      </td>
    </tr>

    <tr id="standardRoom">
      <td>Tiêu chuẩn phòng</td>
      <td>
        <input type="text"/>
      </td>
    </tr>

    <tr id="description">
      <td>Mô tả</td>
      <td>
        <input type="text"/>
      </td>
    </tr>

    <tr id="poolArea">
      <td>Diện tích hồ bơi</td>
      <td>
        <input type="text"/>

      </td>
    </tr>

    <tr id="numberOfFloors">
      <td>Số tầng</td>
      <td>
        <input type="text"/>

      </td>
    </tr>
    <tr id="facilityFree">
      <td>Dịch vụ miễn phí</td>
      <td>
        <input type="text"/>
      </td>
    </tr>
    <tr>
      <td>Kiểu thuê</td>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>Loại cơ sở</td>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>Hình ảnh</td>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
  <button type="submit" class="btn btn-outline-info">Thêm cơ sở</button>
</div>
