<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/my.css">

</head>
<body>
<!--<div th:replace="~{furama :: navbar}"></div>-->
<!--    navbar-->
<div class="row" id="bgnavbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a style="color: white" class="navbar-brand" href="/home">Home</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color: white" class="nav-link active" aria-current="page" href="/customer-type">Customer
                            Type</a>
                    </li>
                </ul>
                <form th:action="@{/customer}" class="d-flex" role="search" method="get">
                    <input type="text" name="nameSearch" th:value="${name}">
                    <input type="text" name="emailSearch" th:value="${email}">
                    <select name="customerTypeSearch">
                        <option th:each="customerType: ${getShowListCustomerType}"
                                th:text="${customerType.getName()}"
                                th:value="${customerType.getId()}">
                        </option>
                    </select>
                    <button class="btn btn-outline-success">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<h1 class="d-flex justify-content-center">DANH SÁCH KHÁCH HÀNG</h1>
<div>
    <div>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <button type="submit" class="btn btn-outline-success"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd"
                        data-bs-whatever="@mdo">Thêm khách hàng
                </button>
            </div>
        </nav>
    </div>
</div>
<marquee th:text="${mess}"></marquee>
<table class="table table-view table-bordered">
    <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Thẻ căn cước</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Loại khách hàng</th>
        <th>Sửa thông tin</th>
        <th>Xóa khách hàng</th>
    </tr>
    <tr th:each="customer : ${customerPage}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td>
            <th:block th:if="${customer.gender == true}">Nam</th:block>
            <th:block th:if="${customer.gender == false}">Nữ</th:block>
        </td>
        <td th:text="${customer.idCard}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.customerType.getName()}"></td>
        <td>
            <button type="button" class="btn btn-outline-secondary"
                    th:attr="onclick=|updateCustomer('${customer.id}','${customer.name}','${customer.dateOfBirth}',
                    '${customer.gender}','${customer.idCard}','${customer.phoneNumber}',
                    '${customer.email}','${customer.address}','${customer.customerType}')|"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalUpdate"
                    data-bs-whatever="@mdo">Sửa
            </button>
        </td>
        <td>
            <button th:attr="onclick=|idDelete('${customer.id}','${customer.name}')|"
                    type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModalDelete"
                    data-bs-whatever="@mdo">Xóa
            </button>
        </td>
    </tr>
</table>
<div>
    <a th:href="@{/customer(page=${customerPage.number - 1}, nameSearch=${name}, emailSearch=${email}, customerTypeSearch=${customerTypeSearch} ) }"
       th:if="${customerPage.hasPrevious()}">Trước</a>
    <span th:text="${customerPage.number + 1}"></span>/<span th:text="${customerPage.totalPages}"></span>
    <a th:href="@{/customer(page=${customerPage.number + 1}, nameSearch=${name}, emailSearch=${email}, customerTypeSearch=${customerTypeSearch} ) }"
       th:if="${customerPage.hasNext()}">sau</a>
</div>

<!--MODAL ADD-->
<div th:class="${hasErr == 'true' ? 'modal fade show' : 'modal fade'}"
     id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabelAdd" aria-hidden="true"
     th:style="${hasErr == 'true' ? 'display: block' : 'display: none'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="justify-content-center modal-title fs-5" id="exampleModalLabelAdd"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/customer/save}" method="post" th:object="${customerDto}">
                    <table>
                        <center><h5>Thêm Khách Hàng</h5></center>
                        <tr>
                            <td>Tên Khách Hàng:</td>
                            <td>
                                <input type="text" th:field="*{name}"/>
                                <span style="color: red" th:if="${#fields.hasErrors('name')}"
                                      th:errors="*{name}">
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Ngày sinh:</td>
                            <td>
                                <input type="date" th:field="*{dateOfBirth}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Giới tính:</td>
                            <td>
                                <select th:field="*{gender}">
                                    <option th:value="true">
                                        Nam
                                    </option>
                                    <option th:value="false">
                                        Nữ
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Thẻ căn cước:</td>
                            <td>
                                <input type="text" th:field="*{idCard}"/>

                            </td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td>
                                <input type="text" th:field="*{phoneNumber}"/>
                                <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}"
                                      th:errors="*{phoneNumber}">
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>
                                <input type="text" th:field="*{email}"/>
                                <span style="color: red" th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}">
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td>
                                <input type="text" th:field="*{address}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Loại khách hàng:</td>
                            <td>
                                <select th:field="*{customerType}">
                                    <option th:each="listCustomerType: ${getShowListCustomerType}"
                                            th:text="${listCustomerType.getName()}"
                                            th:value="${listCustomerType.getId()}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:attr="onclick=|onCloseModal()|">Đóng
                        </button>
                        <button type="submit" class="btn btn-primary">Thêm Khách hàng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL UPDATE-->
<div th:class="${hasError == 'true' ? 'modal fade show' : 'modal fade'}"
     id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabelUpdate"
     th:style="${hasError == 'true' ? 'display: block' : 'display: none'}"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="justify-content-center modal-title fs-5" id="exampleModalLabelUpdate"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form th:action="@{/customer/update}" method="post" th:object="${customerDto}">

                    <table>
                        <center><h5>Sửa Thông Tin Khách Hàng</h5></center>
                        <input th:field="*{id}" hidden id="updateId">
                        <tr>
                            <td>Tên Khách Hàng:</td>
                            <td>
                                <input type="text" th:field="*{name}" id="updateName"/>
                                <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Ngày sinh:</td>
                            <td>
                                <input type="date" th:field="*{dateOfBirth}" id="updateBirthOfDay"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Giới tính: </td>
                            <td>
                                <select th:field="*{gender}" id="updateGender">
                                    <option th:value="true">
                                        Nam
                                    </option>
                                    <option th:value="false">
                                        Nữ
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Thẻ căn cước:</td>
                            <td>
                                <input type="text" th:field="*{idCard}" id="updateIdCard"/>
                                <span style="color: red" th:if="${#fields.hasErrors('idCard')}"
                                      th:errors="*{idCard}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td>
                                <input type="text" th:field="*{phoneNumber}" id="updatePhoneNumber"/>
                                <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}"
                                      th:errors="*{phoneNumber}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>
                                <input type="text" th:field="*{email}" id="updateEmail"/>
                                <span style="color: red" th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td>
                                <input type="text" th:field="*{address}" id="updateAddress"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Loại khách hàng:</td>
                            <td>
                                <select th:field="*{customerType}" id="updateCustomerType">
                                    <option th:each="listCustomerType: ${getShowListCustomerType}"
                                            th:text="${listCustomerType.getName()}"
                                            th:value="${listCustomerType.getId()}">

                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:attr="onclick=|onCloseModal()|">Đóng
                        </button>
                        <button type="submit" class="btn btn-primary">Sửa thông tin khách hàng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL DELETE-->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabelDelete"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelDelete">Xóa sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/delete}" method="post">
                <div class="modal-body">
                    <input hidden type="text" id="deleteId" name="id">
                    <span>Bạn có muốn xóa khách hàng</span>
                    <span style="color:red;" id="deleteName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Xóa khách hàng</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // ĐÓNG MODAL
    function onCloseModal() {
        document.getElementById('exampleModalAdd').style.display = 'none';
        document.getElementById('exampleModalUpdate').style.display = 'none';
        window.location.href = "/customer";
    }


    // DELETE
    function idDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }

    // UPDATE
    function updateCustomer(id, name, birthOfDay, gender, idCard, phoneNumber, email, address, customerType) {
        document.getElementById("updateId").value = id;
        document.getElementById("updateName").value = name;
        document.getElementById("updateBirthOfDay").value = birthOfDay;
        document.getElementById("updateGender").value = gender;
        document.getElementById("updateIdCard").value = idCard;
        document.getElementById("updatePhoneNumber").value = phoneNumber;
        document.getElementById("updateEmail").value = email;
        document.getElementById("updateAddress").value = address;
        document.getElementById("updateCustomerType").value = customerType;
    }
</script>

</body>
<div th:replace="~{furama :: footer}"></div>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>